[submodule "code/Speculator/AudioEngine"]
	path = code/Speculator/AudioEngine
	url = https://github.com/nathanshaw/AudioEngine
[submodule "code/Speculator/NeopixelManager"]
	path = code/Speculator/NeopixelManager
	url = https://github.com/nathanshaw/NeopixelManager
[submodule "code/Speculator/DLManager"]
	path = code/Speculator/DLManager
	url = https://github.com/nathanshaw/DLManager
[submodule "code/Speculator/LuxManager"]
	path = code/Speculator/LuxManager
	url = https://github.com/nathanshaw/LuxManager
[submodule "code/Speculator/ValueTracker"]
	path = code/Speculator/ValueTracker
	url = https://github.com/nathanshaw/ValueTracker.git
[submodule "code/Speculator/WeatherManager"]
	path = code/Speculator/WeatherManager
	url = https://github.com/nathanshaw/WeatherManager.git
